[submodule "Plugin/Migrations"]
	path = Plugin/Migrations
	url = https://github.com/CakeDC/migrations.git
[submodule "Plugin/ClearCache"]
	path = Plugin/ClearCache
	url = https://github.com/ceeram/clear_cache.git
[submodule "Plugin/MarkupParsers"]
	path = Plugin/MarkupParsers
	url = https://github.com/CakeDC/markup_parsers.git
