@import compass/reset
@import icons/*.png

//------------------------------------------------------------------------------------------

$wrapper-background: #212121;
$wrapper-width: 800px;

$body-background: #1A1A1A image-url('background.jpg') no-reapeat fixed $wrapper-width 0;
$body-color: #E6E6E6;

$header-background: image-url('header.jpg') repeat-x;

//------------------------------------------------------------------------------------------

* {
	outline: none;
}

body {
	background: $body-background;
	color: $body-color;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 1.4em;
}

table {
	width: 100%;

	tr {
		border-bottom: 1px solid #333333;
	}

	thead {
		color: adjust-lightness($body-color, -50%);
		font-size: 11px;

		td {
			padding-bottom: 10px;
			vertical-align: bottom;
		}
	}

	tbody {
		td {
			padding: 10px 0;
		}
	}
}

caption, th, td {
	vertical-align: top;
}

h1, h2, h3 {
	font-family: Oswald, sans-serif;
	font-weight: 300;
	line-height: 1;
	margin-bottom: 10px;
}

em {
	color: adjust-lightness($body-color, -25%);
}

h1 {
	font-size: 32px;

	em {
		font-size: 24px;
	}
}

h2 {
	font-size: 24px;

	em {
		font-size: 18px;
	}
}
   
h3 {
	font-size: 18px;

	em {
		font-size: 14px;
	}
}

a {
	color: $link-color
	cursor: pointer
	text-decoration: none

	&.ui-button {
		@extend a
		background-color: $button-background-color
		border: 1px solid transparent
		+border-radius(3px)
		cursor: pointer
		display: inline-block
		font-size: 11px
		padding: 5px 18px
		text-transform: uppercase

		&.inactive {
			opacity: 0.5
		}

		&:hover, &.checked {
			+background-image(linear-gradient(adjust-lightness($button-background-color, 7%), adjust-lightness($button-background-color, 2%)))
			border: 1px solid adjust-lightness($button-background-color, 6%)
		}
	}

	&:hover {
		color: $link-color-hover !important
	}
}

#wrapper {
	background: $wrapper-background;
	width: $wrapper-width;
}

#header {
	background: $header-background;
	height: image-url('header.jpg') - 2px;
	padding-bottom: 2px;
}