html, body, div, span, applet, object, iframe,
h1, h2, h3, #menu ul, #menu ol, h4, h5, h6, p, blockquote, pre,
a,
a.ui-button,
input[type='submit'],
input[type='reset'],
input[type='button'],
button, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img, a.ui-button img, input[type='submit'] img, input[type='reset'] img, input[type='button'] img, button img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.icons-sprite, .article-action .view-comments .icon, .article-action .view-comments:hover .icon {
  background: url('../img/icons-s67a4b152e9.png') no-repeat;
}

@font-face {
  font-family: "Oswald";
  src: url('../font/Oswald-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: "Open Sans";
  src: url('../font/OpenSans.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url('../font/OpenSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url('../font/OpenSans-Semibold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: "Open Sans";
  src: url('../font/OpenSans-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "fontello";
  src: url('../font/fontello.woff') format('woff');
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  display: inline-block;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  margin-right: 0.2em;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  width: 1em;
}

.icon-cog:before {
  content: "\2699";
}

.icon-quote:before {
  content: "\275e";
}

.icon-globe:before {
  content: "\1f30e";
}

.icon-export:before {
  content: "\e715";
}

.icon-down-dir:before {
  content: "\25be";
}

.icon-attach:before {
  content: "\1f4ce";
}

.icon-lock:before {
  content: "\1f512";
}

::selection, ::-moz-selection, ::-webkit-selection {
  background: #96a3bb;
  color: white;
}

* {
  outline: none;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

sup {
  font-size: 0.8em;
  line-height: 0.8em;
  vertical-align: super;
  position: relative;
  text-decoration: none;
}

body {
  background-color: #1a1a1a;
  height: 100%;
}

table {
  width: 100%;
}
table tr {
  border-bottom: 1px solid #333333;
}
table thead {
  color: #676767;
  font-size: 11px;
}
table thead td {
  padding-bottom: 10px;
  vertical-align: bottom;
}
table tbody td {
  padding: 10px 0;
}

caption, th, td {
  vertical-align: top;
}

h1, h2, h3, #menu ul, #menu ol {
  margin-bottom: 10px;
}

em {
  color: #a6a6a6;
}

h1 em {
  font-size: 24px;
}

h2 em {
  font-size: 18px;
}

h3 em, #menu ul em, #menu ol em {
  font-size: 14px;
}

p:not(:last-child) {
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

a, a.ui-button, input[type='submit'], input[type='reset'], input[type='button'], button {
  cursor: pointer;
}
a.ui-button, input[type='submit'], input[type='reset'], input[type='button'], button {
  background-color: #3a3a3a;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  padding: 5px 18px;
  text-transform: uppercase;
}
a.ui-button.inactive, input.inactive[type='submit'], input.inactive[type='reset'], input.inactive[type='button'], button.inactive {
  opacity: 0.5;
}
a.ui-button:hover, input[type='submit']:hover, input[type='reset']:hover, input[type='button']:hover, button:hover, a.ui-button.checked, input.checked[type='submit'], input.checked[type='reset'], input.checked[type='button'], button.checked {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4c4c4c), color-stop(100%, #404040));
  background-image: -webkit-linear-gradient(#4c4c4c, #404040);
  background-image: -moz-linear-gradient(#4c4c4c, #404040);
  background-image: -o-linear-gradient(#4c4c4c, #404040);
  background-image: -ms-linear-gradient(#4c4c4c, #404040);
  background-image: linear-gradient(#4c4c4c, #404040);
  border: 1px solid #4a4a4a;
}
a.current, a.current.ui-button, input.current[type='submit'], input.current[type='reset'], input.current[type='button'], button.current {
  color: white;
}

ul, ol {
  list-style-type: square;
  margin-bottom: 10px;
  padding-left: 24px;
}

ol {
  list-style-type: decimal-leading-zero;
}
ol ol {
  list-style-type: lower-alpha;
  margin-left: 17px;
}

blockquote {
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  margin: 10px 0;
  padding: 12px 20px;
}
blockquote blockquote {
  margin-top: 0;
}

.span-2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 300px;
}
.span-2:not(:nth-child(2n)) {
  margin-right: 20px;
}

.span-3 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 192.667px;
}
.span-3:not(:nth-child(3n)) {
  margin-right: 20px;
}

.fs11 {
  font-size: 11px;
}

.input:last-child {
  margin-bottom: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.display-none {
  display: none;
}

.center {
  text-align: center;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

#footer {
  overflow: hidden;
  *zoom: 1;
  background: url('../img/full-page-content.jpg') repeat-x top;
  bottom: 0;
  color: #676767;
  font-size: 11px;
  padding: 20px;
  position: absolute;
  width: 100%;
}

#page {
  background-color: #212121;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  width: 930px;
}

#header {
  overflow: hidden;
  *zoom: 1;
  padding: 20px;
}

#logo {
  background-image: url('../img/logo.png');
  display: block;
  float: left;
  height: 37px;
  width: 182px;
}

#user-actions {
  overflow: hidden;
  *zoom: 1;
  float: right;
  margin-top: 9px;
}
#user-actions > a, #user-actions > a.ui-button, #user-actions > input[type='submit'], #user-actions > input[type='reset'], #user-actions > input[type='button'], #user-actions > button {
  float: left;
  margin-left: 20px;
}

#profile {
  float: right;
  list-style: none;
  margin: 0;
}

#profile-avatar {
  float: left;
  height: 36px;
  margin-right: 10px;
  width: 36px;
}

#profile-meta {
  float: left;
}
#profile-meta > a, #profile-meta > a.ui-button, #profile-meta > input[type='submit'], #profile-meta > input[type='reset'], #profile-meta > input[type='button'], #profile-meta > button {
  display: block;
}

#menu {
  overflow: hidden;
  *zoom: 1;
  background: url('../img/header.jpg') repeat-x;
  height: 62px;
}
#menu ul, #menu ol {
  float: left;
  line-height: 1;
  list-style: none;
}
#menu li {
  float: left;
}
#menu li:first-child a, #menu li:first-child a.ui-button, #menu li:first-child input[type='submit'], #menu li:first-child input[type='reset'], #menu li:first-child input[type='button'], #menu li:first-child button {
  border-left: none;
}
#menu li a, #menu li a.ui-button, #menu li input[type='submit'], #menu li input[type='reset'], #menu li input[type='button'], #menu li button {
  -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
  -ms-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
  background: url('../img/separator-v.gif') repeat-y right;
  color: #e6e6e6;
  display: block;
  padding: 21px 42px 21px 40px;
}
#menu li a:hover, #menu li a.ui-button:hover, #menu li input[type='submit']:hover, #menu li input[type='reset']:hover, #menu li input[type='button']:hover, #menu li button:hover, #menu li a.selected, #menu li a.selected.ui-button, #menu li input.selected[type='submit'], #menu li input.selected[type='reset'], #menu li input.selected[type='button'], #menu li button.selected {
  background-color: #303030;
  color: #96a3bb;
}

#content {
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 153px;
}

.section, .profile-section, .category-item {
  margin-bottom: 20px;
}
.section:last-child, .profile-section:last-child, .category-item:last-child, .section:only-child, .profile-section:only-child, .category-item:only-child {
  margin-bottom: 0;
}

.section-empty, #error #content {
  overflow: hidden;
  *zoom: 1;
  background: transparent url('../img/error.jpg') no-repeat center center !important;
  height: 500px;
  position: relative;
}
.section-empty h1, #error #content h1 {
  margin: 200px 0 10px;
  text-align: center;
}
.section-empty p, #error #content p {
  text-align: center;
}

#left {
  float: left;
  width: 660px;
}

#right {
  float: left;
  margin-left: 10px;
  width: 260px;
}

.ui-tooltip {
  position: absolute;
}

.ui-tooltip-content {
  background-color: #212121;
  border: 1px solid #333333;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 15px black;
  -moz-box-shadow: 0 0 15px black;
  box-shadow: 0 0 15px black;
  padding: 10px;
}
.ui-tooltip-content ul, .ui-tooltip-content ol {
  list-style: none;
  margin: 0;
}
.ui-tooltip-content ul li, .ui-tooltip-content ol li {
  margin: 0;
}

.link-desc a, .link-rem a, .link-desc a.ui-button, .link-rem a.ui-button, .link-desc input[type='submit'], .link-rem input[type='submit'], .link-desc input[type='reset'], .link-rem input[type='reset'], .link-desc input[type='button'], .link-rem input[type='button'], .link-desc button, .link-rem button {
  border-bottom: 1px dashed #343434;
  color: inherit;
}

.link-rem {
  font-style: italic;
}

.message, .error-message, .success-message {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #313131), color-stop(100%, #404040));
  background-image: -webkit-linear-gradient(#313131, #404040);
  background-image: -moz-linear-gradient(#313131, #404040);
  background-image: -o-linear-gradient(#313131, #404040);
  background-image: -ms-linear-gradient(#313131, #404040);
  background-image: linear-gradient(#313131, #404040);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin: 10px 0;
  padding: 7px 14px;
}

.error-message {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6b0808), color-stop(100%, #870a0a));
  background-image: -webkit-linear-gradient(#6b0808, #870a0a);
  background-image: -moz-linear-gradient(#6b0808, #870a0a);
  background-image: -o-linear-gradient(#6b0808, #870a0a);
  background-image: -ms-linear-gradient(#6b0808, #870a0a);
  background-image: linear-gradient(#6b0808, #870a0a);
}

.success-message {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #266b08), color-stop(100%, #30870a));
  background-image: -webkit-linear-gradient(#266b08, #30870a);
  background-image: -moz-linear-gradient(#266b08, #30870a);
  background-image: -o-linear-gradient(#266b08, #30870a);
  background-image: -ms-linear-gradient(#266b08, #30870a);
  background-image: linear-gradient(#266b08, #30870a);
}

#breadcrumb {
  overflow: hidden;
  *zoom: 1;
  color: #676767;
  padding: 10px 20px;
}
#breadcrumb ul, #breadcrumb ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
#breadcrumb li {
  float: left;
  margin-right: 11px !important;
  padding-right: 16px;
}
#breadcrumb li:not(:last-child) {
  background: url('../img/arrow.png') no-repeat center right;
}
#breadcrumb li.last {
  color: #e6e6e6;
}

.clearfix {
  overflow: hidden;
  *zoom: 1;
}

.ui-sortable-helper {
  opacity: 0.5;
}

.by-line {
  color: silver;
  font-size: 11px;
  margin-bottom: 10px;
}

#page-header {
  background-position: bottom left;
  background-repeat: no-repeat;
  padding: 30px 20px;
  position: relative;
}

#right #page-header {
  background-position: bottom right;
}

#page-content {
  overflow: hidden;
  *zoom: 1;
  background-position: left top;
  min-height: 108px;
  padding: 20px 20px 0;
  position: relative;
}

body.one_column #page-content {
  background-repeat: repeat-x;
  background-image: url('../img/full-page-content.jpg');
}
body.two_column #page-content {
  background-repeat: no-repeat;
  background-image: url('../img/page-content.jpg');
}
body#user #page-content {
  background-repeat: no-repeat;
  background-image: url('../img/user-page-content.jpg');
  background-position: top right;
}

#event-header {
  background-position: bottom right;
  background-repeat: no-repeat;
  min-height: 198px;
  padding: 60px 20px 30px;
}

#event-type {
  color: #a6a6a6;
  font-size: 16px;
}

#event-description {
  color: #cdcdcd;
  font-style: italic;
  margin-top: 30px;
  padding: 0 40px;
}

#event-action {
  margin-top: 30px;
  text-align: center;
}

.event-participants {
  float: left;
  width: 260px;
}
.event-participants:not(:last-child) {
  margin-right: 20px;
}

.ui-button-set {
  overflow: hidden;
  *zoom: 1;
  display: inline-block;
}
.ui-button-set li {
  margin-left: 1px !important;
}
.ui-button-set li a, .ui-button-set li a.ui-button, .ui-button-set li input[type='submit'], .ui-button-set li input[type='reset'], .ui-button-set li input[type='button'], .ui-button-set li button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  float: left;
}
.ui-button-set li:first-child a, .ui-button-set li:first-child a.ui-button, .ui-button-set li:first-child input[type='submit'], .ui-button-set li:first-child input[type='reset'], .ui-button-set li:first-child input[type='button'], .ui-button-set li:first-child button {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.ui-button-set li:last-child a, .ui-button-set li:last-child a.ui-button, .ui-button-set li:last-child input[type='submit'], .ui-button-set li:last-child input[type='reset'], .ui-button-set li:last-child input[type='button'], .ui-button-set li:last-child button {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

#login {
  margin: 50px auto;
  width: 340px;
}

ul.ui-sortable > li, ol.ui-sortable > li {
  cursor: move;
}
ul.link-list > li, ol.link-list > li {
  overflow: hidden;
  *zoom: 1;
}
ul.link-list > li:not(:hover) .on-hover, ol.link-list > li:not(:hover) .on-hover {
  opacity: 0.2;
}
ul.link-list > li ul, ol.link-list > li ul, ul.link-list > li ol, ol.link-list > li ol {
  list-style: none;
  margin: 0;
}
ul.link-list > li ul li, ol.link-list > li ul li, ul.link-list > li ol li, ol.link-list > li ol li {
  float: left;
}
ul.link-list > li ul .float-left li, ol.link-list > li ul .float-left li, ul.link-list > li ol .float-left li, ol.link-list > li ol .float-left li {
  margin-right: 10px;
}
ul.link-list > li ul.float-right li, ol.link-list > li ul.float-right li, ul.link-list > li ol.float-right li, ol.link-list > li ol.float-right li {
  margin-left: 10px;
}
ul.ui-custom-list, ol.ui-custom-list {
  margin: 0;
  padding: 0;
}
ul.ui-custom-list > li, ol.ui-custom-list > li {
  overflow: hidden;
  *zoom: 1;
  padding: 10px;
  border-bottom: 1px solid #333333;
}
ul.ui-custom-list > li:last-child, ol.ui-custom-list > li:last-child {
  border-bottom: none;
}
ul.ui-custom-list > li:not(:hover) .on-hover, ol.ui-custom-list > li:not(:hover) .on-hover {
  opacity: 0.2;
}
ul.ui-custom-list > li ul, ol.ui-custom-list > li ul, ul.ui-custom-list > li ol, ol.ui-custom-list > li ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.ui-custom-list > li ul li, ol.ui-custom-list > li ul li, ul.ui-custom-list > li ol li, ol.ui-custom-list > li ol li {
  float: left;
}
ul.ui-custom-list > li ul.float-left li, ol.ui-custom-list > li ul.float-left li, ul.ui-custom-list > li ol.float-left li, ol.ui-custom-list > li ol.float-left li {
  margin-right: 10px;
}
ul.ui-custom-list > li ul.float-right li, ol.ui-custom-list > li ul.float-right li, ul.ui-custom-list > li ol.float-right li, ol.ui-custom-list > li ol.float-right li {
  margin-left: 10px;
}
ul.ui-custom-list .ui-button-set, ol.ui-custom-list .ui-button-set {
  display: inline-block;
  margin-top: -2px;
  margin-bottom: -2px;
}
ul.ui-custom-list .ui-button-set li, ol.ui-custom-list .ui-button-set li {
  margin-left: 1px !important;
}
ul.ui-custom-list .ui-button-set li a, ol.ui-custom-list .ui-button-set li a, ul.ui-custom-list .ui-button-set li a.ui-button, ol.ui-custom-list .ui-button-set li a.ui-button, ul.ui-custom-list .ui-button-set li input[type='submit'], ol.ui-custom-list .ui-button-set li input[type='submit'], ul.ui-custom-list .ui-button-set li input[type='reset'], ol.ui-custom-list .ui-button-set li input[type='reset'], ul.ui-custom-list .ui-button-set li input[type='button'], ol.ui-custom-list .ui-button-set li input[type='button'], ul.ui-custom-list .ui-button-set li button, ol.ui-custom-list .ui-button-set li button {
  background-color: #191919;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding: 2px 10px;
  font-size: 11px;
  text-transform: none;
}
ul.ui-custom-list .ui-button-set li a:hover, ol.ui-custom-list .ui-button-set li a:hover, ul.ui-custom-list .ui-button-set li a.ui-button:hover, ol.ui-custom-list .ui-button-set li a.ui-button:hover, ul.ui-custom-list .ui-button-set li input[type='submit']:hover, ol.ui-custom-list .ui-button-set li input[type='submit']:hover, ul.ui-custom-list .ui-button-set li input[type='reset']:hover, ol.ui-custom-list .ui-button-set li input[type='reset']:hover, ul.ui-custom-list .ui-button-set li input[type='button']:hover, ol.ui-custom-list .ui-button-set li input[type='button']:hover, ul.ui-custom-list .ui-button-set li button:hover, ol.ui-custom-list .ui-button-set li button:hover {
  background-color: #1c1c1c;
}
ul.ui-custom-list .ui-button-set li a.checked, ol.ui-custom-list .ui-button-set li a.checked, ul.ui-custom-list .ui-button-set li a.checked.ui-button, ol.ui-custom-list .ui-button-set li a.checked.ui-button, ul.ui-custom-list .ui-button-set li input.checked[type='submit'], ol.ui-custom-list .ui-button-set li input.checked[type='submit'], ul.ui-custom-list .ui-button-set li input.checked[type='reset'], ol.ui-custom-list .ui-button-set li input.checked[type='reset'], ul.ui-custom-list .ui-button-set li input.checked[type='button'], ol.ui-custom-list .ui-button-set li input.checked[type='button'], ul.ui-custom-list .ui-button-set li button.checked, ol.ui-custom-list .ui-button-set li button.checked {
  background-color: #404040;
}

.caption-empty {
  margin: 50px 0;
  text-align: center;
}

#gallery {
  margin: 0;
  list-style: none;
}
#gallery li {
  float: left;
  width: 283px;
  height: 152px;
  margin-bottom: 20px;
}
#gallery li:not(:nth-child(3n)) {
  margin-right: 20px;
}
#gallery li img {
  background-color: #313131;
  border: 1px solid #383838;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  max-height: 100%;
}
#gallery li img:hover {
  border-color: #525252;
}

#gallery-view {
  text-align: center;
}

#gallery-image {
  margin-bottom: 6px;
  text-align: center;
}

.ui-pagination > span:not(:last-child) {
  margin-right: 1px;
}
.ui-pagination > span.current, .ui-pagination > span.ellipsis, .ui-pagination > span > a, .ui-pagination > span > a.ui-button, .ui-pagination > span > input[type='submit'], .ui-pagination > span > input[type='reset'], .ui-pagination > span > input[type='button'], .ui-pagination > span > button {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  width: 26px;
}
.ui-pagination > span > a, .ui-pagination > span > a.ui-button, .ui-pagination > span > input[type='submit'], .ui-pagination > span > input[type='reset'], .ui-pagination > span > input[type='button'], .ui-pagination > span > button {
  background-color: #191919;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.ui-pagination > span > a:hover, .ui-pagination > span > a.ui-button:hover, .ui-pagination > span > input[type='submit']:hover, .ui-pagination > span > input[type='reset']:hover, .ui-pagination > span > input[type='button']:hover, .ui-pagination > span > button:hover {
  background-color: #1c1c1c;
}

#page-content-top {
  overflow: hidden;
  *zoom: 1;
}
#page-content-top .ui-pagination {
  margin-top: 2px;
}

.inactive {
  opacity: 0.5;
}

#homepage #page-content {
  background: none;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.select {
  overflow: hidden;
  *zoom: 1;
}
.select .checkbox {
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid #333333;
  padding: 10px;
}
.select input[type='checkbox'] {
  float: right;
}
.select label {
  float: left;
}

#background {
  background: #1a1a1a url('../img/background.jpg') no-repeat fixed center top;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  right: 0;
}

.profile-section {
  background: url('../img/user-page-content.jpg') no-repeat top right;
  padding: 20px 20px 0;
}
.profile-section:last-of-type {
  min-height: 116px;
}

.profile-section-content {
  margin: 10px 0;
}

.profile-bottom {
  padding: 0 20px;
}

.footer-group {
  float: left;
  margin-right: 20px;
  width: 283.333px;
}
.footer-group:last-child {
  margin-right: 0;
}
.footer-group h3, .footer-group #menu ul, #menu .footer-group ul, .footer-group #menu ol, #menu .footer-group ol {
  border-bottom: 1px solid #333333;
  color: #e6e6e6;
  padding-bottom: 10px;
}

#footer-links {
  overflow: hidden;
  *zoom: 1;
}
#footer-links a, #footer-links a.ui-button, #footer-links input[type='submit'], #footer-links input[type='reset'], #footer-links input[type='button'], #footer-links button {
  display: block;
  float: left;
  width: 50%;
}

input[type='text'], textarea, select, input[type='password'], input[type='email'] {
  font: inherit;
  background-color: white;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 5px;
  resize: none;
  width: 100%;
}
input[type='text']:last-child, textarea:last-child, select:last-child, input[type='password']:last-child, input[type='email']:last-child {
  margin-bottom: 0;
}

.input {
  margin-bottom: 10px;
}
.input.date select, .input.time select {
  display: inline-block;
  width: auto;
}
.input.date select:nth-of-type(1) {
  margin-right: 10px;
  width: 60px;
}
.input.date select:nth-of-type(2) {
  margin-right: 10px;
  width: 200px;
}
.input.date select:nth-of-type(3) {
  width: 80px;
}
.input.time select:nth-of-type(1) {
  margin-right: 3px;
  width: 60px;
}
.input.time select:nth-of-type(2) {
  margin-left: 4px;
  width: 60px;
}

.section-action, .submit {
  margin-top: 10px;
}
.section-action a, .section-action a.ui-button, .section-action input[type='submit'], .section-action input[type='reset'], .section-action input[type='button'], .section-action button, .submit a, .submit a.ui-button, .submit input[type='submit'], .submit input[type='reset'], .submit input[type='button'], .submit button {
  margin-right: 10px;
}

textarea {
  resize: vertical;
}
textarea.has-ui-toolbar {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

label {
  display: block;
  font-size: 11px;
}

.form-action {
  margin-top: 10px;
}

form.inline {
  position: relative;
}
form.inline input[type='submit'], form.inline input[type='image'] {
  position: absolute;
  right: 10px;
  top: 6px;
}

body {
  color: #e6e6e6;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.4em;
}

h1, h2, h3, #menu ul, #menu ol {
  font-family: Oswald, sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 32px;
  line-height: 1;
}

h2 {
  font-size: 24px;
  line-height: 1;
}

h3, #menu ul, #menu ol {
  font-size: 18px;
  line-height: 1;
}

a, a.ui-button, input[type='submit'], input[type='reset'], input[type='button'], button {
  color: #96a3bb;
  text-decoration: none;
}
a:hover, a.ui-button:hover, input[type='submit']:hover, input[type='reset']:hover, input[type='button']:hover, button:hover {
  color: white !important;
}

small {
  font-size: 11px;
}

strong, b {
  font-weight: 600;
}

#menu {
  font-family: Oswald, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
#menu a, #menu a.ui-button, #menu input[type='submit'], #menu input[type='reset'], #menu input[type='button'], #menu button {
  color: #e6e6e6;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

.color-c1 {
  color: #c69b6d;
}

.color-c2 {
  color: #f48cba;
}

.color-c3 {
  color: #aad372;
}

.color-c4 {
  color: #fff468;
}

.color-c5 {
  color: #f0ebe0;
}

.color-c6 {
  color: #c41e3b;
}

.color-c7 {
  color: #2359ff;
}

.color-c8 {
  color: #68ccef;
}

.color-c9 {
  color: #9382c9;
}

.color-c10 {
  color: #00ffba;
}

.color-c11 {
  color: #ff7c0a;
}

.flash-error {
  color: #ee0022;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.sidebar-module:not(:last-child) {
  margin-bottom: 20px;
}

.sidebar-module-content {
  overflow: hidden;
  *zoom: 1;
  border-top: 1px solid #333333;
  padding: 10px 10px 0 0;
}

.recruitment-class {
  float: left;
  margin-bottom: 6px;
  width: 50%;
}
.recruitment-class.last {
  margin-bottom: 0;
}

.guild-feed, .popular-thread {
  margin-bottom: 6px;
}
.guild-feed small, .popular-thread small {
  color: #676767;
  display: block;
}
.guild-feed:last-child, .popular-thread:last-child {
  margin-bottom: 0;
}

.encounter-zone {
  padding-bottom: 6px;
}

.zone-progress {
  background-color: #191919;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 10px;
  position: relative;
}
.zone-progress .complete-0 {
  width: 0%;
}
.zone-progress .complete-25 {
  width: 25%;
}
.zone-progress .complete-50 {
  width: 50%;
}
.zone-progress .complete-75 {
  width: 75%;
}
.zone-progress .complete-100 {
  width: 100%;
}
.zone-progress .normal-mode, .zone-progress .heroic-mode {
  background-color: #525966;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}
.zone-progress .heroic-mode {
  background-color: #96a3bb;
}

.boss-status {
  color: #ffd4d4;
}
.boss-status.normal {
  color: #d4ffaa;
}
.boss-status.heroic {
  font-weight: bold;
}

.popular-thread small a, .popular-thread small a.ui-button, .popular-thread small input[type='submit'], .popular-thread small input[type='reset'], .popular-thread small input[type='button'], .popular-thread small button {
  color: #7788a7;
}

.blog-article {
  overflow: hidden;
  *zoom: 1;
  background: url('../img/page-content.jpg') no-repeat top left;
  padding: 20px;
}
.blog-article h1 a, .blog-article h1 a.ui-button, .blog-article h1 input[type='submit'], .blog-article h1 input[type='reset'], .blog-article h1 input[type='button'], .blog-article h1 button {
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -ms-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s false;
  color: inherit;
}
.blog-article h1 a:hover, .blog-article h1 a.ui-button:hover, .blog-article h1 input[type='submit']:hover, .blog-article h1 input[type='reset']:hover, .blog-article h1 input[type='button']:hover, .blog-article h1 button:hover {
  color: #96a3bb !important;
}

.article-content p:last-child {
  margin: 0;
}

.article-action {
  margin-top: 10px;
  text-align: right;
}
.article-action .view-comments .icon {
  background-position: 0 -572px;
  display: inline-block;
  height: 9px;
  margin-left: 5px;
  width: 5px;
}
.article-action .view-comments:hover .icon {
  background-position: 0 -630px;
}

.comment {
  background-color: #191919;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
}
.comment:not(:last-child) {
  margin-bottom: 10px;
}

.comment-author {
  float: left;
}
.comment-author .avatar {
  -webkit-box-shadow: 0 0 10px black;
  -moz-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  height: 64px;
  margin-right: 10px;
  width: 64px;
}

.comment-meta {
  color: #676767;
  font-size: 11px;
  line-height: 1;
  margin-bottom: 0.4em;
}

.comment-content {
  float: left;
  width: 356px;
}

#new-comment h2 {
  margin-bottom: 10px;
}
#new-comment .error-message {
  width: 230px;
}

#new-comment-inner {
  margin-bottom: 10px;
  padding: 10px;
}

#roster {
  overflow: hidden;
  *zoom: 1;
  text-align: center;
}

.roster-class, .forum-list li {
  display: inline-block;
  margin-left: 18px;
  padding-top: 20px;
  width: 193.333px;
}
.roster-class:nth-of-type(3n-2), .forum-list li:nth-of-type(3n-2) {
  margin-left: 0;
}
.roster-class h2, .forum-list li h2 {
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
  text-align: center;
}

.roster-characters {
  clear: both;
  text-align: center;
}

.roster-character {
  -webkit-box-shadow: 0 0 15px black;
  -moz-box-shadow: 0 0 15px black;
  box-shadow: 0 0 15px black;
  display: inline-block;
  margin-right: 10px;
  width: 57.667px;
}
.roster-character:not(.first) {
  margin-top: 10px;
}
.roster-character:nth-of-type(3n), .roster-character:last-of-type {
  margin-right: 0;
}
.roster-character img {
  display: block;
}

.category {
  margin-bottom: 20px;
  overflow: hidden;
  *zoom: 1;
}

#topics, #posts {
  margin-top: 2px;
}

.topic {
  background: url('../img/separator.gif') repeat-x center bottom;
  border: none;
}
.topic:hover {
  background-color: #292929 !important;
}
.topic.new-messages .topic-title {
  font-weight: bold;
}
.topic td {
  padding: 10px 0;
}
.topic td:nth-child(1) {
  padding-left: 20px;
}
.topic td:nth-child(2) {
  padding-right: 20px;
  text-align: right;
  width: 128px;
}
.topic td:nth-child(3) {
  padding-right: 20px;
  width: 160px;
}

.topic-meta, .link-desc, .link-rem, .topic td:nth-child(2), .topic td:nth-child(3), .topic td:nth-child(4) {
  color: #676767;
  font-size: 11px;
}

.post {
  background: url('../img/full-page-content.jpg') repeat-x top;
  border: none;
}
.post:first-child {
  background: none;
}
.post td {
  padding-bottom: 20px;
  padding-top: 20px;
}
.post td:last-child {
  padding-right: 20px;
  position: relative;
}

.post-author {
  padding-left: 20px;
  padding-right: 20px;
  width: 190px;
}
.post-author .avatar {
  -webkit-box-shadow: 0 0 15px black;
  -moz-box-shadow: 0 0 15px black;
  box-shadow: 0 0 15px black;
  float: left;
  height: 80px;
  margin-right: 10px;
  width: 80px;
}

.post-date {
  margin-bottom: 6px;
}

.post-action {
  overflow: hidden;
  *zoom: 1;
  font-size: 11px;
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
}
.post-action li {
  float: left;
  margin-right: 20px;
}

.post-edited {
  margin-top: 6px;
}

.category-item {
  background: url('../img/page-content.jpg') repeat-x top;
  padding: 20px 20px 0;
}
.category-item:first-child {
  background: none;
}

.forum-item {
  border: none;
}
.forum-item td {
  padding: 8px 0;
}

.forum-item-icon {
  vertical-align: middle;
}

.forum-icon {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #363636;
  display: block;
  height: 16px;
  margin: 0 16px 0 6px;
  width: 16px;
}
.forum-icon.new-messages {
  background-color: #96a3bb;
}

.forum-item-desc {
  width: 100%;
}

.post-author-signature {
  border-top: 1px solid #3c3c3c;
  color: #a6a6a6;
  font-size: 11px;
  margin-top: 6px;
  padding-top: 6px;
}

#forum-post-form {
  padding: 20px 20px 0;
}

#latest-posts {
  background: url('../img/full-page-content.jpg') repeat-x top;
  margin-top: 20px;
}
#latest-posts h2 {
  margin: 0;
  padding: 10px 20px;
}
#latest-posts .post {
  background: url('../img/full-page-content.jpg') repeat-x top !important;
}

.topic-sticky, .topic-closed {
  color: silver;
}

.post-author {
  vertical-align: top;
}
.post-author .name {
  font-size: 16px;
}
.post-author .group {
  font-size: 11px;
}

.post.deleted .post-body {
  opacity: 0.5;
}

.post-date {
  color: #7788a7;
  font-size: 11px;
}

body#user #left {
  padding: 10px 0 0 20px;
  width: 210px;
}
body#user #right {
  width: 710px;
}

.user-section {
  background: url('../img/page-content.jpg') no-repeat top right;
  padding: 20px;
}
.user-section h2 {
  margin-bottom: 0;
}
.user-section:last-of-type {
  min-height: 108px;
  padding-bottom: 0;
}

.user-section-content {
  margin-top: 10px;
}
.user-section-content blockquote {
  margin: 0;
}

#user-characters {
  clear: both;
  text-align: center;
}

.user-character {
  -webkit-box-shadow: 0 0 15px black;
  -moz-box-shadow: 0 0 15px black;
  box-shadow: 0 0 15px black;
  display: inline-block;
  margin-right: 10px;
  width: 80px;
}
.user-character:not(.first) {
  margin-top: 10px;
}
.user-character:nth-of-type(7n), .user-character:last-of-type {
  margin-right: 0;
}
.user-character img {
  display: block;
}

.menu-section:not(:last-child) {
  margin-bottom: 15px;
}
.menu-section h2 {
  margin-bottom: 10px;
}
.menu-section ul, .menu-section ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-section ul li, .menu-section ol li {
  border-bottom: 1px solid #262626;
}
.menu-section ul li:first-child, .menu-section ol li:first-child {
  border-top: 1px solid #262626;
}
.menu-section ul li:hover, .menu-section ol li:hover {
  background-color: #1e1e1e;
}
.menu-section ul li a, .menu-section ol li a, .menu-section ul li a.ui-button, .menu-section ol li a.ui-button, .menu-section ul li input[type='submit'], .menu-section ol li input[type='submit'], .menu-section ul li input[type='reset'], .menu-section ol li input[type='reset'], .menu-section ul li input[type='button'], .menu-section ol li input[type='button'], .menu-section ul li button, .menu-section ol li button {
  display: block;
  padding: 7px 10px;
}

#error #content h3, #error #content #menu ul, #menu #error #content ul, #error #content #menu ol, #menu #error #content ol {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}
#error #content .cake-stack-trace {
  margin: 0 50px;
}
